body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pageDesign{
	color: #fff;
	height: 100vh;
}
.boxOne{
	background: #2F6182;
    padding: 50px;
}
.addressText{
    position: relative;
    top: 22%;
}
.rectangleBox{
	    background: #225D85;
    width: 300px;
    height: 300px;
    margin: 0px auto;
    border: 10px solid black;
}
.actionButtons{
	position: absolute;
    right: 110px;
}
